.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #5041b2 0%, #8779e8 100%);
  h1 {
    color: white;
    font-weight: 700;
  }
  .QuizWrapper {
    width: 600px;
    padding: 15px;
  }
}

@media screen and (max-width: 425px) {
  .Quiz {
    h1 {
      text-align: center;
    }
  }
}
