@import '../../../variables.scss';

.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 20px;
    border: 1px solid #cccccc;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
    font-size: 13px;
    &:last-child {
        margin-right: 0;
    }
    &:focus {
        outline: none;
    }
    &:active {
        box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .2);
    }
    &:disabled {
        background: $color-disabled;
        color: #000000;
        cursor: not-allowed;
    }
    &.success {
        background: $color-success;
        color: #000000
      }
    &.error {
        background: $color-error;
        color: #ffffff
    }
    &.primary {
        background: $color-prymary;
        color: #ffffff
    }
}

@media screen and (max-width: 425px) {
    .Button {
        &:last-child {
            margin-top: 12px;
        }
    }
}