.MenuToggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  transition: opacity, left .22s ease-in;
  z-index: 100;
  &:hover {
    opacity: .7;
  }
  &.open {
    left: 320px;
  }
}

@media screen and (width: 320px) {
  .MenuToggle {
    &.open {
      left: 280px;
    }
  }
}